.create-post{
    display: flex;
    width: 100%;
    .create-post__user{
        width: 10%;

        
    }
    .create-post__editor{
        width: 80%;
    }
}

.create-post__user img{
    width: 70px;
    clip-path: circle();
    object-fit: contain;
}

.create-post__editor{
    textarea{
        width: 100%!important;
        resize: none;
        border: none;
        background-color: inherit;
        overflow-y: hidden;
        outline: none;
        margin: 1%;
    }
}

.create-post__editor--bottom{
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .post__editor--toolbar{
        width: 57%;
        display: flex;
    }
}

.input-container{
    position: relative;
    width: 30px;
    display: flex;
    input{
        position: absolute;
        opacity: 0;
        width: 21px;
        left: 0;
        cursor: pointer!important;
    }

} 

.create-post__editor__imgShower{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    div{
        position: relative;
        P{
            color: rgb(0, 0, 0);
            position: absolute;
            font-weight: 700;
            font-size: 1.3rem;
            border-radius: 50%;
            padding:0px 7px;
            top: 1%;
            left: 1%;
            background-color: rgba(0, 137, 255 ,.3);
            cursor: pointer;
            transition: all .3s ease;
            &:hover{
                background-color: rgba(0, 137, 255,1);
            }
            
        }
    
    }


}