.user-profile{
    min-height: 57vh;

}

.user-profile__imgs{
    position: relative;
}

.user-profile__cover-img{
    width: 100%;
    height: 30vh;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.user-profile__small-img {
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    img{
        width: 170px;
        clip-path: circle();
    }
}

.user-profile__details{
    margin-top: 23%;
}
.user-profile__details__username{
    font-size: 2rem;
    font-weight: 700;
}
.user-profile__details__bio{
    font-size: 1rem;
    margin: 2% 0px!important;
    
}

.user-profile__details__location,.user-profile__details__birthDate{
    display: flex;
    align-items:center;
    margin: 2% 0px;
    p{
        margin-left: 1.7%!important;
        color: rgba(0,0,0,.7);
        font-size: .8rem;
    }
}
.user-profile__details__friend{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1.3%!important;
    cursor: pointer;
    transition: all .3s ease;
    &:hover{
        
        color: var(--btn-color);
        text-decoration: underline;
    }
}

// edit-profile scss start
.edir-profile__inputSection {
    border: 2px solid rgba(0,0,0,.3);
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s ease;
    margin: 1.7% auto;
    &:hover{
        border: 2px solid var(--btn-color);  
    }
    input{
        border: none;
        outline: none;
        background-color: inherit;
        width: 100%;
        
    }   
}
.edit-profile-imgs {
    position: relative;
 
}
.edit-profile__cover-img {
    position: relative;
    height: 29vh;
    width: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.edit-profile__small-img{
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;
    top: 89%;
    left: 17%;
    transform: translate(-50%,-50%);
    img{
        width: 100%;
        clip-path: circle();
    }
}

.edit-profile__plus-icon{
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    input{
        position: absolute;
        top: 0;
        z-index: 1;
        left: 0;
        opacity: 0;
        z-index: 100;
        width: 23px;
    }
  
}
.edit-img-overflow{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.7);
    display: none;
}


.edit-profile-details{
    margin-top: 17%;
}



// edit-profile scss end

@media screen and (max-width:500px){
    .user-profile__details{
       font-size: 1.6rem;
    }
    .user-profile__details__username{
        font-size: 2.9rem;
        font-weight: 700;
    }
    .user-profile__details__bio{
        font-size: 1.7rem;
      
        
    }
    .user-profile__details__location,.user-profile__details__birthDate,.user-profile__details__friend {
        p{
            font-size: 1.5rem;
        }
       
    }
    .edir-profile__inputSection input{
        font-size: 1.7rem;
    }
}