.login-header{
    text-align: center;
    font-weight: 700;
    font-size: 2.1rem;
    text-decoration: underline;
}

@media screen  and (max-width:500px){
    .login{
        width: 90%!important;
    }
}