.show-post{

    width: 100%;
    min-height: 33vh;
    display: flex;
    margin: 1% 0px;

    .show-post__left{
        width: 10%;
        position: relative;
        img{
            position: absolute;
            left: 27%;
            top: 7%;
            transform: translate(-13%, -27%);
            width: 43px;
            clip-path: circle();
            object-fit: contain;

           
        }
    }

    .show-post__right{
        width: 87%;
        margin-left: 1%;

    }
}


.show-post__right--body__img-shower{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;

    div{
        
        img{
            width: 100%;
            border-radius: 13px;
            height: 100%;
            object-fit: fill;
            
        }
    }
}

.social-box-summery{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
}
.show-post__right--body__user-info{
    .user-info__name{
        font-size: 1rem;
        font-weight: 700;
        color: var(--head-color);
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}


.social-box-icon{
    margin-top: 2.3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    div{
        display: flex;
        align-items: center;
        p{
            margin-left: 3%!important;
        }
    }
}

// comment-section start
.comment-input .comment-input-wrapper {
   display: flex;
}

.comment-input__main{
    display: flex;
    flex-direction: column;
    width: 100%;
    textarea{
        resize: none;
        width: 90%;
        padding-left: 3px;
        height: 30px;
        border-radius: 13px;
        outline: none;
        overflow: hidden;
    }
    div{
        width: 90%;
        display: flex;
        margin-top: 1%;
        justify-content: space-between;
        align-items: center;
       
    }
    .emoji-picker-react{
        height: 177px!important;
    }
}

// comment-section end


// single-comment start
.single-comment{
    display: flex;

}
.single-comment___main{
    width: 90%;
    position: relative;
     &:hover .more-icon{
        display: block;
     }
}
.more-icon{
    position: absolute;
    top: 7%;
    cursor: pointer;
    display: none;
    right: 3%;
    img{
        width: 13px;
    }
}
.single-comment-socialBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 23%;
    div{
        display:flex;
        img{
            width: 13px;
            cursor: pointer;
        }
    }

}

// single-comment end