.show-post{

    width: 100%;
    min-height: 33vh;
    display: flex;
    margin: 1% 0px;
    transition: all .7s ease;
    .show-post__left{
        width: 10%;
        position: relative;
        align-self: inherit;
        img{
            width: 43px;
            clip-path: circle();
            object-fit: contain;

           
        }
    }

    .show-post__right{
        width: 87%;

    }
}

.vanish-post{
        display: none!important;
    
}

.show-post__delete{
    transform: translateX(-100vw);
}

.show-post__right--body__img-shower{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;

    div{
        
        img{
            width: 100%;
            border-radius: 13px;
            height: 100%;
            object-fit: fill;
            
        }
    }
}

.social-box-summery{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
}

.show-post__right--body__user-info{
    display: flex;
    justify-content: space-between;
    .user-info__name{
        font-size: 1rem;
        font-weight: 700;
        color: var(--head-color);
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}


.show-post__right--body__settings{
    position: relative;
    margin-right: 7%;
    .body__settings--box{
        width: 120px;
        position: absolute;
        display: flex;
        border-radius: 7px;
        justify-content: center;
        align-items: center;
        min-height: 7vh;
        right: -100%;
        top:87%;
        box-shadow:  0px 0px 3px #020202,
         0px 0px 0px #020202, 
         0px 0px 0px #020202, 
         0px 0px 0px #020202, 
         0px 0px 0px #020202;
         background-color: var(--back-color);
         div{
             display: flex;
             align-items: center;
             justify-content: space-around;
             width: 100%;
            height: 30px;
            transition: all .3s ease;
            cursor: pointer;
            &:hover{
                background-color: rgb(145, 243, 189);
            }
        }
    }
}


.social-box-icon{
    margin-top: 2.3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    div{
        display: flex;
        align-items: center;
        p{
            margin-left: 3%!important;
        }
    }
}

// comment-section start
.comment-input .comment-input-wrapper {
   display: flex;
}

.comment-input__main{
    display: flex;
    flex-direction: column;
    width: 100%;
    textarea{
        resize: none;
        width: 90%;
        padding-left: 3px;
        height: 30px;
        border-radius: 13px;
        outline: none;
        overflow: hidden;
    }
    div{
        width: 90%;
        display: flex;
        margin-top: 1%;
        justify-content: space-between;
        align-items: center;
       
    }
    .emoji-picker-react{
        height: 177px!important;
    }
}

// comment-section end


// single-comment start
.single-comment{
    display: flex;

}
.single-comment___main{
    width: 90%;
    position: relative;
     &:hover .more-icon{
        display: block;
     }
}
.more-icon{
    position: absolute;
    top: 7%;
    cursor: pointer;
    display: none;
    right: 3%;
    img{
        width: 13px;
    }
}
.single-comment-socialBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 23%;
    div{
        display:flex;
        img{
            width: 13px;
            cursor: pointer;
        }
    }

}

// single-comment end


@media screen and (max-width:600px) {
    .show-post__text{
        font-size: 1.7rem;
    }
    .user-info__name{
        font-size: 1.9rem!important;
    }
    p{
        font-size: 1.5rem;
    }
    .show-post__time{
        font-size: 1.1rem!important;
    }
    .single-comment__text{
        font-size: 1.3rem!important;
    }
    .single-comment__username{
        font-size: 1.5rem!important;
    }
    .show-post__left{
      
        img{
            width: 29px!important;
            clip-path: circle();
            object-fit: contain;

           
        }
    }
    .show-post__right--body__img-shower{
        div{
            height: auto!important;
        }
    }
}